.form-control {
    background-color: #67676752;
    color: #fff;
    border: 1px solid #868585; 
    height: 3em;
}

.form-control::placeholder {
    color: #fff;
}

#searchButton {
    background-color: #67676752;
    color: #fff; 
    border: 1px solid #868585; 
    padding: 10px;
    cursor: pointer;
    height: 3em;
    position: relative;
}