aiohttp==3.9.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
asgiref==3.7.2
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
coverage==7.4.3
cycler==0.12.1
Django==5.0.2
fonttools==4.51.0
frozenlist==1.4.1
idna==3.6
kiwisolver==1.4.5
matplotlib==3.8.4
multidict==6.0.5
numpy==1.26.4
packaging==24.0
pandas==2.2.0
pillow==10.3.0
PyJWT==2.8.0
pyparsing==3.1.2
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
scipy==1.13.0
six==1.16.0
sqlparse==0.4.4
tensorflow==2.16.1
twilio==9.0.2
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
yarl==1.9.4
