{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/favourite_cards.css' %}">
<script src="../static/JavaScript/map.js"></script>


<div class="modal" id="viewFavouritesModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content background">
            <div class="modal-header">
                <h4 class="modal-title">Favourite Stations</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row favourite-modal" id="favourite-cards-container" style="margin-bottom: 1em;">
                        <!-- Favourites can be added here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        url: '/view_favourites/',  // replace with the URL of your view
        type: 'GET',
        success: function (response) {
            response.forEach(function (station) {
                var card = `
                <div class="col-12" id="${station.name}">
                    <div class="card mb-2 foreground">
                        <div class="card-body">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <h5 class="card-title">${station.name}</h5>
                                <div style="float: right;">
                                    <button onclick="event.preventDefault(); updateToFavourite('${station.name}')" class="btn btn-primary mr-4">Visit</button>
                                    <button onclick="deleteStation('${station.name}')" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted">${station.code}</h6>
                        </div>
                    </div>
                </div>
            `;
                $('#favourite-cards-container').append(card);
            });
        }
    });
    function updateToFavourite(stationName) {
        weatherStations.forEach(station => {
            // Display current station data if name matches
            if (station.name === stationName) {
                createMarker(station, 1);
            }
        });
        $('#viewFavouritesModal').modal('hide');
    }
    function deleteStation(stationName) {
        var stationElement = document.getElementById(stationName);
        stationElement.parentNode.removeChild(stationElement);

        $.ajax({
            url: '/delete_favourite/',
            type: 'POST',
            data: {
                'station_name': stationName
            },
            success: function (response) {
                console.log(response);
            }
        });
    }
</script>