{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <script src="{% static 'home.js' %}"></script>
    <script src="{% static 'wind_direction.js' %}"></script>
    <script src="{% static 'JavaScript/humidity.js' %}"></script>
    <title>Dashboard</title>

</head>

<body class="background">
    <!-- NAVBAR -->
    {% include 'navbar.html' %}

    <div class="container-fluid">
        <div class="row pt-3">
            <!-- Station Map Column -->
            <div class="col-6 text-center border-right border-dark">
                <h2 id="station-name-code" class="foreground"></h2>
                <!-- Leaflet Map Implementation -->
                <div id="map" style="height: 60em; width: 100%;"></div>
                <script src="{% static 'map.js' %}"></script>
            </div>
            <!-- Weather Data Column -->
            <div class="col-6 ">
                <h2 class="foreground text-center">
                    Weather
                </h2>

                <!-- Row 1 -->
                <div class="row pt-4 justify-content-center">

                    <!-- Temperature Card -->
                    <div class="foreground mr-md-4">
                        <div class="card rounded shadow bg-info text-white mb-md-0 mb-4">
                            <div class="card-body text-center p-4">
                                <!-- Temp icon and title -->
                                <h5 class="card-title mb-2 d-flex align-items-center justify-content-center">
                                    <span class="mr-2">
                                        <img src="{% static 'images/thermometer.svg' %}" alt="Thermometer">
                                    </span>
                                    <span aria-label="Hourly Temperature">Hourly Temperature</span>
                                </h5>
                                <!-- Current (hourly?) temperature -->
                                <div class="d-flex align-items-center justify-content-center">
                                    <h2 class="card-text mr-2 display-4 mb-0" id="temperature">N/A</h2>
                                    <span class="display-4 align-bottom muted-white">°C</span>
                                </div>
                                <!-- Current daily high/low -->
                                <div class="d-flex justify-content-center align-items-center mt-2">
                                    <span class="less-prominent" title="Current daily high">High: 20°C</span>
                                    <span class="ml-4 less-prominent" title="Current daily low">Low: 12°C</span>
                                </div>
                                <!-- Last updated time -->
                                <div class="d-md-flex justify-content-end mt-2">
                                    <span class="badge badge-pill badge-dark expand-on-hover" id="last-updated-time"
                                        onmouseover="showUpdatedTime(this)" onmouseout="hideUpdatedTime(this)"
                                        style="cursor: default;">12:00 PM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Temperature card -->

                    <!-- Relative Humidity Card -->
                        <div class="card rounded text-white foreground mb-md-0 mb-4">
                            <div class="card-body text-center p-4">
                                <!-- Humidity icon and title -->
                                <h5 class="card-title mb-2 d-flex align-items-center justify-content-center">
                                    <span class="mr-2">
                                        <img src="{% static 'images/humidity.svg' %}" alt="Humidity Icon"
                                            class="weather-icon">
                                    </span>
                                    <span>Relative Humidity</span>
                                </h5>
                                <!-- Humidity progress bar -->
                                <div id="humidity-progress-bar"></div> <!-- Container for the progress bar -->
                                <!-- Current humidity -->
                                <div class="d-flex align-items-center justify-content-center">
                                    <h2 class="card-text mr-2 display-4 mb-0" id="relative-humidity">N/A</h2>
                                    <span class="display-4 align-bottom muted-white"></span>
                                </div>
                                <!-- Last updated time -->
                                <div class="d-md-flex justify-content-end mt-2">
                                    <span class="badge badge-pill badge-dark expand-on-hover"
                                        id="last-updated-time-humidity" onmouseover="showUpdatedTime(this)"
                                        onmouseout="hideUpdatedTime(this)" style="cursor: default;">12:00 PM</span>
                                </div>
                            </div>
                    </div>
                    <!-- Row 2 -->
                    <div class="row pt-4 justify-content-center">
                        <!-- Precipitation Card -->
                        <div class="col-md-4">
                            <div class="card foreground">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Precipitation</h5>
                                    <h2 class="card-text" id="precipitation">N/A</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Snow Depth Card -->
                        <div class="col-md-4">
                            <div class="card foreground">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Snow Depth</h5>
                                    <h2 class="card-text" id="snow-depth">N/A</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Snow Quality Card -->
                        <div class="col-md-4">
                            <div class="card foreground">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Snow Quality</h5>
                                    <h2 class="card-text" id="snow-quality">N/A</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Row 3 -->
                    <div class="row pt-4 justify-content-center">
                        <!-- Wind Speed Card -->
                        <div class="col-md-4">
                            <div class="card foreground">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Wind Speed</h5>
                                    <h2 class="card-text" id="wind-speed">N/A</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Wind Direction Card -->
                        <div class="col-md-4">
                            <div class="card rounded shadow mb-md-0 mb-4 foreground">
                                <div class="card-body text-center" id="wind-direction">
                                    <h5 class="card-title">Wind Direction</h5>
                                </div>
                            </div>
                        </div>
                        <!-- Wind Gust Card -->
                        <div class="col-md-4">
                            <div class="card foreground">
                                <div class="card-body text-center">
                                    <h5 class="card-title">Wind Gust</h5>
                                    <h2 class="card-text" id="wind-gust">N/A</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Popups -->
        {% include 'modals.html' %}

        <!-- Swap pages button -->
        <a href="{% url 'fire' %}">
            <img id="swapPageIcon" src="{%  static 'images/flame_icon.svg' %}" alt="fire_icon">
        </a>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script>
            {% if error %}
            alert("{{error}}");
            {% endif %}
        </script>


        <!-- JS for widgets -->
        <script src="{% static 'ffmc.js' %}"></script>
</body>

</html>