.set-width{
    width: 700px;
}
.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}
.set-width{
    width: 100px;
}
.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.extreme {
    background-color: red;
}
.line {
    width: 100%;
    height: 10px;
    background-color: black;
}
.arrowDR{
    position: absolute;
    top: 110px; /* Adjust the position of the triangle */
    left: 50%; /* Position the triangle in the center */
    transform: translateX(-50%); /* Adjust the position based on the width of the triangle */
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid black; /* Adjust the size of the triangle */
}