.widget {
    width: 170px;
  }
.axis-widget {
    border: none;
    position: relative;
    height: 250px;
  }

  .axis {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 35px;
    width: 3px;
  }

  .segment {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 1;
  }

  /* Color segments */
  .green { border-color: green; }
  .blue { border-color: blue; }
  .yellow { border-color: yellow; }
  .orange { border-color: orange; }
  .red { border-color: red; }

  /* Tick styles */
  .tick {
    position: absolute;
    left: -5px;
    width: 20px;
    height: 2px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2; /* Ensure ticks appear above segments */
  }
  .tick label {
    margin-top: -8px;
    margin-right: 25px;
    font-size: 12px;
    color: black;
  }
  .arrow {
    position: absolute;
    right: 70px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid black; /* Width and color of the arrow */
  }
  .arrow-value {
    position: absolute;
    top: -3px;
    left: 30px; /* Position the value 30px to the left of the arrow */
    transform: translateY(-50%);
    font-size: 30px;
    color: black;
  }
