.datepicker-input {
    position: absolute;
    right: 100px;
    top: 0;
    width: 130px;
    height: 100%;
    opacity: 0.0;
    cursor: pointer;
    box-sizing: border-box;
}

.datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    cursor: pointer;
}

#swapPageIcon {
    width: 5em;
    position: absolute;
    right: 1em;
    bottom: 1em;
    cursor: pointer;

    border: 3px solid #5e5e5e;
    border-radius: 75%;
    -moz-border-radius: 75%;
    -webkit-border-radius: 75%;
}

#swapPageIcon:hover {
    background-color: #5e5e5e;
}

/* For the cards */
.muted-white {
    color: #f8f9fa57;
}

.less-prominent {
    color: #dddddddd;
    font-weight: normal;
}

.background {
    background-color: #1e1e1e;
    color: #e5e5e5;
}

.foreground {
    border-radius: 5px;
    background-color: #333333;
    color: #e5e5e5;
    /*background-color: #088678;*/
    padding: 10px;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-popup-content-wrapper {
    background-color: #333333;
    padding: 10px;
    color: #e5e5e5;
}